<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Autenticacion</h2>
      {% load crispy_forms_tags %}
      <form action="" method="POST">
        {% csrf_token %}

          {{ form | crispy }}

        <input type="submit" value="Login" class="btn btn-success float-right">
      </form>
      <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>
    </div>
  </body>
</html>
