{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{% static '/https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous' %}">
    <link rel="stylesheet" href="{% static 'core/CSS/Style.css' %}">
    <link rel="stylesheet" href="{% static 'core/CSS/bootstrap.min.css' %}">
    <link rel="Icon" href="{% static 'core/IMG/icono.ico' %}">
    <title>CAFETERIA DUOC</title>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAgRL3rzIhIUYD9M0D_MpLFTkZ6BZLtzp0",
        authDomain: "cafeduoc2020.firebaseapp.com",
        databaseURL: "https://cafeduoc2020.firebaseio.com",
        projectId: "cafeduoc2020",
        storageBucket: "cafeduoc2020.appspot.com",
        messagingSenderId: "327542197525",
        appId: "1:327542197525:web:253fa84115d26398732d1c"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      let messaging = firebase.messaging();

      navigator.serviceWorker
      .register('./serviceworker.js')
      .then(function(register){

        messaging.useServiceWorker(register);

        //solicitamos permiso para recibir notificaciones
        messaging.requestPermission()
        .then(function(){
          console.log("El usuario ha aceptado recibir notificaciones")
          return messaging.getToken();
        })
        .then(function(token){
           console.log(token);
           fetch('guardar-token/',{
             method:'post',
             headers:{
               'Content-Type':'application/json',
               'Accept':'application/json'
             },
             body:JSON.stringify({
               'token':token
             })
           })
           .then(function(resultado){
             console.log("se ha guardado el token")
           })
           .catch(function(e){
             console.log("no se ha podido guardar el token")
           })
        })
        .catch(function(e){
           console.log("el usuario no ha aceptado")
        })



      })

      messaging.onMessage(function(payload){
        console.log("ha llegado notificacion")
        let data = payload;
        console.log(data);
        let title = payload.notification.title;
        let options = {
          body:payload.notification.body,
          icon:payload.notification.icon
        }
        let mensaje = new Notification(title, options);
      });
    </script>
  </head>
  <style>
::selection
{
  color: #fff;
  background: #A11BAF;
}
</style>
  <body>
    <div class="contenedor">
      <header class="headd">
        <div class="menu">
          <nav>
            <img src="{% static 'core/IMG/logo.png' %}" alt="">
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;467&display=swap" rel="stylesheet">
            <a href="/">INICIO</a>
            <a href="/pagina3">PRODUCTOS</a>
            <a href="/pagina4">NOSOTROS</a>
            {% if user.is_authenticated %}
            <a href="#">USUARIO:  {{ user.username }}</a>
            <a href="{% url 'logout' %}">CERRAR SESIÓN</a>
            {% else %}
            <a href="{% url 'login' %}">INICIAR SESIÓN</a>
            <a href="{% url 'registro_usuario' %}">REGISTRAR</a>
            {% endif %}
          </nav>

        </div>
      </header>
      <div class="contenido-1">
        <h1>UN NUEVO MUNDO DE SABOR</h1>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,33.05 C149.99,150.00 352.99,-35.03 500.84,66.61 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg>
        </div>
      </div>

      <div class="contenido-2">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <h1> PRUEBA NUESTROS NUEVOS PRODUCTOS </h1>

      </div>
      <div class="contenido-3">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <CENTER><h3>- CAFE EN GRANO -</h3>
        <p align = justify>Hemos extraído con delicadeza los fieles sabores de esta mezcla de granos procedentes de Latinoamérica y África oriental, aplicando un exclusivo estilo de tostado más ligero a aquellos granos cuyos sabores delicados alcanzan la plenitud con menos tiempo de tostado. El sabor limpio y brillante con toda su complejidad sutil se abre paso magníficamente para crear una fresca y deliciosa taza.</p>

        <img src="{% static 'core/IMG/grano.png' %}" alt="">
      </div>

      <div class="contenido-4">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <CENTER><h3>- MUGS -</h3>
        <p align = justify>Hemos extraído con delicadeza los fieles sabores de esta mezcla de granos procedentes de Latinoamérica y África oriental, aplicando un exclusivo estilo de tostado más ligero a aquellos granos cuyos sabores delicados alcanzan la plenitud con menos tiempo de tostado. El sabor limpio y brillante con toda su complejidad sutil se abre paso magníficamente para crear una fresca y deliciosa taza.</p>

        <img src="{% static 'core/IMG/mug.png' %}" alt="">


      </div>
      <div class="contenido-5">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <CENTER><h3>- CAFE MOLIDO -</h3>
        <p align = justify>Hemos extraído con delicadeza los fieles sabores de esta mezcla de granos procedentes de Latinoamérica y África oriental, aplicando un exclusivo estilo de tostado más ligero a aquellos granos cuyos sabores delicados alcanzan la plenitud con menos tiempo de tostado. El sabor limpio y brillante con toda su complejidad sutil se abre paso magníficamente para crear una fresca y deliciosa taza.</p>
        <img src="{% static 'core/IMG/molido.png' %}" alt="">
      </div>



      <div class="imagen-uno">
        <img src="{% static 'core/IMG/coffe1.svg' %}" alt="">
      </div>
      <div class="texto-uno">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet' %}">
        <h1>Tomate un break</h1>
      </div>


      <div class="texto-dos">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet' %}">
        <h1>Varias opciones de sabor</h1>
      </div>

      <div class="imagen-dos">
        <img src="{% static 'core/IMG/coffe2.svg' %}" alt="">
      </div>



      <div class="contenido-6">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <CENTER><h3>SE PARTE DE LA FAMILIA CAFETERIA DUOC</h3>
        <p class=""><em>Como marca, representamos alrededor del mundo los valores y tradiciones de los caficultores
colombianos, le entregamos a los caficultores mayor valor por la calidad del café e importantes
recursos de regalías por la venta de cada taza o producto que lleve su firma en el mundo.
En 2008 la marca llegó a Chile, desde entonces ha podido cautivar a todos con un café de
tradiciones milenarias. Actualmente son 31 tiendas en todo el territorio, principalmente en
Santiago, Viña del Mar, Antofagasta, Puerto Montt y Concepción.</em></p>
      </div>



      <footer class="foot">
        <a href="https://twitter.com/">TWITTER</a>
        <a href="https://www.youtube.com/">YOUTUBE</a>
        <a href="https://www.facebook.com/">FACEBOOK</a>
      </footer>

    </div>
    <script src="{% static 'core/https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous' %}"></script>
    <script src="{% static 'core/https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous' %}"></script>
    <script src="{% static 'core/https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous' %}"></script>

  </body>
</html>
