{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'core/CSS/StylePag4.css' %}">
    <link rel="Icon" href="{% static 'core/IMG/icono.ico' %}">
    <title>>Cafeteria Duoc | Sobre Nosotros</title>
  </head>
  <style>
  ::selection
  {
    color: #fff;
    background: #A11BAF;
  }
  </style>
  <body>
    <div class="contenedor">
      <header class="headd">
        <div class="menu">
          <nav>
            <img src="{% static 'core/IMG/logo.png' %}" alt="">
            <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Oswald:wght@400;467&display=swap" rel="stylesheet' %}">
            <a href="/">INICIO</a>
            <a href="/pagina3">PRODUCTOS</a>
            <a href="/pagina4">NOSOTROS</a>
          </nav>
        </div>
      </header>

      <div class="slider">
        <ul>
          <li>
            <img src="{% static 'core/IMG/1.jpeg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/IMG/2.jpeg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/IMG/3.jpeg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/IMG/4.jpeg' %}" alt="">
          </li>
        </ul>
    </div>
      <div class="contenido-1">
        <link href="{% static 'core/https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet' %}">
        <CENTER><h3>EL MEJOR CAFE DE TU VIDA!!!</h3>
        <p class=""><em>En Cafetería Duoc queremos que disfrutes del mejor café en nuestras sedes.
        Ya sea un intenso espresso, un aromático dripper o un equilibrado aeropress, todo lo que necesitas está en Cafeteria Duoc.
        Hemos seleccionado con dedicación los productos que te ofrecemos: máquinas italianas de espresso; molinos italianos y españoles; dripper japoneses y aeropress desde USA. Y por supuesto café de especialidad de distintas partes del mundo y de los mejores tostadores locales.
        Esperamos que lo disfrutes con la misma pasión que nos llevó a crear Cafetería Duoc</em></p>
     </div>
     <div class="video" style="text-align:center;">
       <iframe width="1000" height="500"
       src="https://www.youtube.com/embed/JtPtfCN6G2E"
       frameborder="0" allow="accelerometer; autoplay;
       clipboard-write; encrypted-media; gyroscope; picture-in-picture"
       allowfullscreen>
      </iframe>

     </div>

    <footer class="foot">
      <a href="https://twitter.com/">TWITTER</a>
      <a href="https://www.youtube.com/">YOUTUBE</a>
      <a href="https://www.facebook.com/">FACEBOOK</a>
    </footer>

  </div>
  <script src="{% static 'core/https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous' %}"></script>
  <script src="{% static 'core/https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous' %}"></script>
  <script src="{% static 'core/https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous' %}"></script>

  </body>
</html>
